.header {
	background: #ffffff;
}

p.header-phone {
	color: #20b3e0;
	font-size: 18px;
	font-weight: bold;
	//background: no-repeat left center url(http://www.ruhealth.net/bitrix/templates/main/images/phone.png);
	//padding-left: 15px 0 0 22px;
}


.container {
	background-color: #FFF !important;
}
.footer {
	background-color: #fefefe;
}